:root {
    --primary-color: #0057FF;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529;
}

body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: var(--text-color);
 background-color: var(--background-color);
 margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 15px 30px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
     position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(150deg, #0057FF, #002266);
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    width: 260px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.botao {
   text-transform: uppercase;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;


}

.botao:hover {
    background-color:#000a58;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

h1{
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
}

li{
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 1rem;
    padding: 0;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    filter: invert(100%);
     letter-spacing: 0.1rem;

}
.icons img {
    margin: 1rem;
    cursor: pointer;
    filter: invert(100%);
    transition: all 0.3s ease;
}

.icons img:hover {
    width: 40px;
    height: 40px;
    transform: scale(1.1);
     letter-spacing: 0.1rem;
     transform: scale(1.1);
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    max-width: 1200px;
    margin: 40px auto;
    background: linear-gradient(150deg, #0057FF, #002266);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.hero-texto {
    max-width: 500px;
}


.hero-texto h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-texto p {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #fff;

}
.hero-imagem {
    width: 50%;
    height: 500px;
    background-image: url('hero.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
section{
    padding: 80px 20px;
}
#beneficios{
    background-color: #fff;

}
#cta-final{
    background: linear-gradient(150deg, #0057FF, #002266);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    margin: 40px 20px;
}

#inicio {
    background: linear-gradient(135deg, #f0f4ff, #ffffff);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}